*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}












/* menu */

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden; /*pesquisar*/
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}


ul{
    list-style: none;
    display: flex;
}
.menu nav ul li a{
    text-decoration: none;
    color: dimgray;
    padding: 15px;
}

li{
    text-transform: uppercase;
    color:dimgrey;
}

li :hover{
    background-color: #39AAE1;
    color: white;
}






/* banner */

.banner{
    background-image:url(./img/img1.jpg) ;
    height: 670px;
    display: flex;
    background-size: cover; /*hack*/
    background-position: center; /*hack*/
}

.column{
  flex-direction:column; 
  margin: auto;  
}

.text{
    width: 990px;
    height: 460px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 1px 0px #555;
    max-width: 350px;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 350px;
    font-size: 21px;
}

.banners{
    display: flex;
    height: 210px;
}

.banner1, .banner2, .banner3{
    padding-top: 16px;
    padding-left: 18px;
    flex: 1;
    color: white;
}

.banner1, .banner2{
    line-height: 40px;
}

.banner1{
    background-color: #39AAE1;
}

.banner2{
    background-color: #0079C7;
}

.banner3{
    background-color: #2B4C99;
    line-height: 30px;
    padding-right: 15px;
}

.banner_title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.banner_desc{
    font-family: Arial, Helvetica, sans-serif;
}

.banners a {
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.banner_day{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #5570AD ;
}

.banner3 .banner_title{
    padding-bottom: 10px;
}










/* Conteudo Principal */

#geral{
    margin: auto;
    width: 990px;
    height: auto;
    margin-top: 25px;
    display: flex;
    margin-bottom: 25px;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex:1;
}

.container{
    display: flex;
    overflow: hidden;
}

.widget{
    justify-content: center;
    align-items: center;
}

.widget_title{
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 23px;
}

.widget_title_bar{
    background-color: #39AAE1;
    width: 50px;
    height: 3px;
    
}

.news{
    display: flex;
    flex-wrap: wrap;
}

.new{
    margin-right: 20px;
}

.new a {
    text-decoration: none;
    color: #555;
}

.newData{
    display: flex;
}

.newData_dma{
    background-color: #2B4C99;
    padding: 10px;
    margin-top: 22px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

.newData_comment{
    background-color: #39AAE1;
    padding: 10px;
    color: white;
    margin-top: 22px;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.newImg img{
    width: 310px;
}

.newTitle{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    width: 310px;
    color: black;
}

.newResumo{
    width: 310px;
}

.caixas{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
}

.caixa{
    width: 145px ;
    height: 145px;
    background-color: #39AAE1;
    margin-bottom: 40px;
}

.widget_appointment{
    margin-top:20px ;
}

.widget_appointment_contact{
    display: flex;
    padding-top:20px ;
    padding-bottom: 20px;
    border-top: #ccc solid 3px;
    border-bottom: #ccc solid 3px;
    margin-top: 20px;
}

.widget_appointment_contact img{
    margin-right: 10px;
    margin-top: -5px;
}

.widget_appointment_contact p a{
    color: black;
    margin: 0px;
    padding: 0px;
    text-decoration:underline;
}










/* Rodapé */
footer{
    background-color: #1E1E1E;
}

footer .container{
    margin-top: auto;
    margin: auto;
    display: block;
}

.footer_menu{
    display: flex;
    margin: auto;
    width: 990px;
}

.fm1, .fm2, .fm3{
    flex: 1;
    padding: 20px;
}

.fm1{
    background-color: #39AAE1;
}

.fm2{
    background-color: #0079C7;
}

.fm3{
    background-color: #2B4C99;
}

.fm_title{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}

.fm_link a{
    color: white;
    text-decoration: none;
}

.fm_link img{
    width: 30px;
    padding-left: 10px;
}

.footer_area{
    color: white;
    display: flex;
}

.fa1, .fa2, .fa3{
    flex:1;
    padding-top:40px ; 
}

.fa1, .fa2{
    padding-right: 30px;
}

.fa_title{
    font-size: 20px;
    padding-bottom: 10px;
    color: white;
}

.fa_p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #727272;
}

.fa_contact{
    color: #727272;
}

.fa_contact p {
    display: flex;
    margin-bottom: 10px;
}

.fa_tabela{
    display: flex;
    justify-content: space-between; 
}

#data{
    color: #39AAE1;
}

.fa_link{
    margin-bottom: 10px;
}

.fa3 .fa_link a{
    color: purple;
}

.fa_link a{
    text-decoration: none;
    color: white;
}

.direitos{
    color: #555;
    margin: auto;
    margin-top: 15px;
    border: solid 1px #555;
    border-bottom: none;
    width: 990px;
    padding-top:15px;
    padding-bottom:15px;

}
